body{
  margin: 0;
  min-height: 100vh;
  background-image: url();
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(110, 110, 110);
  
  

}
.box{
  margin: auto;
  width: 300px;
  display: flex-start;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  text-align: center;
  background-color: rgb(196, 112, 112);
}
.box1{
  margin: auto;
  width: 300px;
  display: flex-start;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  text-align: center;
 background-color: bisque;
  border-radius: 2%;
}
.BU1{
  size: 3000PX;
  height: 200PX;
  color: rgb(18, 230, 159);
  border-radius: 20px;
  padding: 0PX;
  margin: 10PX;
}
.WAJENIFER{
  background-color: rgb(0, 255, 179);
  
}
.HOME{
  background-color: bisque;
  
}
.ndogo{
  color: rgb(207, 9, 2);
}
.wicon{
  height: 50px;
}