body{
  margin: 0;
  min-height: 100vh;
  background-image: url();
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  

}
.box{
  margin: auto;
  width: 300px;
  display: flex-start;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  text-align: center;
}
.BU1{
  size: 3000PX;
  height: 200PX;
  color: rgb(18, 230, 159);
  border-radius: 20px;
  padding: 70PX;
  margin: 10PX;
}
.WAJENIFER{
  background-color: rgb(0, 255, 179);
  
}
.HOME{
  background-color: bisque;
  
}