body{
  margin: 0;
  min-height: 100vh;
  background-image: url(IMAGES/bac.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  

}
.box{
  margin: auto;
  width: 300px;
  display: flex-start;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  
 
}